{
    "presets": [
        [
            "@babel/env",
            {
                "modules": "commonjs",
                "targets": {
                    "node": "8.9"
                }
            }
        ]
    ],
    "plugins": [
        "add-module-exports"
    ]
}