<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/developer/logs/westore_api.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/logs/bribery-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="fileAppender" />
	</root>
	<!--<include resource="org/springframework/boot/logging/logback/base.xml"/> -->
	<!--<logger name="org.springframework.web" level="INFO"/> -->
</configuration>
